<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chat_room.name %>
</p>
<p> 

<table>
<b> ChatLines : </b>
<% @chat_room.chat_lines.each do |chat_line| %>
	<tr> 
		<td><%= chat_line.created_at %></td>
		<td><%= chat_line.user.name %></td>
		<td><%= chat_line.content %></td>
	</tr>
<%end%>
</table>

<%= render 'chat_lines/form' %>




<%= link_to 'Edit', edit_chat_room_path(@chat_room) %> |
<%= link_to 'Back', chat_rooms_path %>
