<h1>Listing test_obj2s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_obj2s.each do |test_obj2| %>
  <tr>
    <td><%= test_obj2.name %></td>
    <td><%= test_obj2.content %></td>
    <td><%= link_to 'Show', test_obj2 %></td>
    <td><%= link_to 'Edit', edit_test_obj2_path(test_obj2) %></td>
    <td><%= link_to 'Destroy', test_obj2, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test obj2', new_test_obj2_path %>
