<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test_obj2.name %>
</p>

<p>
  <b>Content:</b>
  <%= @test_obj2.content %>
</p>


<%= link_to 'Edit', edit_test_obj2_path(@test_obj2) %> |
<%= link_to 'Back', test_obj2s_path %>
