<h1>Listing test_objs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_objs.each do |test_obj| %>
  <tr>
    <td><%= test_obj.name %></td>
    <td><%= test_obj.content %></td>
    <td><%= link_to 'Show', test_obj %></td>
    <td><%= link_to 'Edit', edit_test_obj_path(test_obj) %></td>
    <td><%= link_to 'Destroy', test_obj, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test obj', new_test_obj_path %>
